<div class="ui relaxed equal width grid">
  <div class="ui row">
    <div class="ui four wide column"></div>
    <div class="ui eight wide column segment">
        <h2 class="ui center aligned dividing header"><i class="lock icon"></i>Forgot your password?</h2>
        <div class="ui form <%= "error" if resource.errors.any? %>">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <div class="ui error message">
          <%= devise_error_messages! %>
        </div>

          <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true ,placeholder: "Enter your registered email"%>
          </div>
          <br>
          <div class="actions">
            <%= f.submit "Send me reset password instructions",class: "ui submit button primary "  %>
          </div>
        <% end %>


        <div class="ui horizontal divider">or</div>
          <div class="ui celled horizontal list">
            <%= render "devise/shared/links" %>
          </div>
    </div>
  </div>
</div>
